@font-face {
  font-family: 'Inconsolata';
  src: url('../assets//fonts/inconsolata/Inconsolata-VariableFont_wdth\,wght.ttf');
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/inter/Inter-VariableFont_slnt\,wght.ttf');
}

@font-face {
  font-family: 'Lora';
  src: url('../assets/fonts/lora/Lora-Italic-VariableFont_wght.ttf');
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
